:root{
/* Color styles */
--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;

}

body, .navbar-brand, .navbar-toggler, .nav-link{
    color:var(--white);
}

main hr{
    width: 20%;
    opacity: 1;
    border: 2px solid;
}

#about hr, #contact hr{
    width:10%;
}

#contact-form hr{
    width:100%;
    opacity: 0.50;
    border: 1px solid;
}

.no-border {
    border: 0;
    box-shadow: none;
}


#hero .img-fluid{
    max-width:250px;
}

.navbar-toggler{
    filter:invert(1);
}

.navbar-collapse {
    flex-grow: 0;
}

header, #bot-footer{
    background-color: var(--dark-gray);
}

#hero, #about{
    background-color: var(--aqua);
}

#portfolio, #contact{
    background-color: var(--white);
    color: var(--black);
}

#top-footer{
    background-color: var(--light-gray);
}

.rounded-circle{
    border: 1px solid white;
    width:40px;
    height:40px;
    line-height: 40px;
}